.title{
    width: 50vh;
    margin: 20px auto;
    background-color: rgba(255,255,255,0.6);
    box-shadow: 5px 5px 5px black;
    border-radius: 15px;
    text-align: center;
}

.title h1{
    font-size: 36px;
}

.biblioteca{
    width: 60%;
    margin: 50px auto;   
}

.biblioteca h2{
    margin: 0 0 10px 0;
}

.livro{
    margin: 50px 0;
    padding: 20px;
    text-align: center;
    background-color: rgba(255,255,255,0.6);
    box-shadow: 5px 5px 5px black;
    border-radius: 15px;
}

.img{
    margin: 20px auto;
    width: 40%;
}

.img img{
    width: 100%;
    height: auto;
    border-radius: 15px;
}

.drive{
    margin: 50px auto;
    width: 60%;
    padding: 20px;
    text-align: center;
    background-color: rgba(255,255,255,0.6);
    box-shadow: 5px 5px 5px black;
    border-radius: 15px;
}

.link_drive{
    margin: 10px;
}

a button{
    border: none;
    padding: 10px 20px;
    background-color: black;
    border-radius: 15px;
    color: white;
    font-size: 16px;
    transition: 0.2s;
}

a button:hover{
    transform: scale(1.1);
    cursor: pointer;
}

@media (max-width: 768px) {
    .img{
        width: 100%;
    }

    .biblioteca,
    .drive{
        width: 90%;
    }
    
}