.marlyn img,
.eris img{
    width: auto;
    border-radius: 15px;
    margin: 5px 0 0 0;
    height: auto;
    max-width: 240px;
    border: 1px solid black;
}

.sobre_nos{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 20px 0;
}

.sobre_nos h1{
    text-align: center;
    font-size: 36px;
}

.sobre{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
    text-align: center;
}

.eris,
.marlyn{
    background-color: rgba(255,255,255,0.6);
    border-radius: 15px;
    padding: 20px;
    box-shadow: 5px 5px 5px black;
    width: 48%;
}

.desc_eris,
.desc_marlyn{
    line-height: 1.5;
}

.title{
    width: 30vh;
    margin: 20px auto;
    background-color: rgba(255,255,255,0.6);
    box-shadow: 5px 5px 5px black;
    border-radius: 15px;
}



@media (max-width: 900px) {
    .eris,
    .marlyn{
        width: 100%;
    }

    .sobre_nos{
        width: 100%;
    }
}

@media (max-width: 340px){
    .marlyn img,
    .eris img{
        width: 70%;
    }
}