.img_eris img,
.img_marlyn img{
    width: 250px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 15px;
    height: 300px;
}

.sobre_nos{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 20px 0;
}

.sobre_nos h1{
    text-align: center;
    font-size: 36px;
}

.sobre{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.eris,
.marlyn{
    width: 45%;
    background-color: rgba(255,255,255,0.6);
    border-radius: 15px;
    padding: 10px;
}

.desc_eris,
.desc_marlyn{
    line-height: 1.5;
}

.title{
    width: 30vh;
    margin: 20px auto;
    background-color: rgba(255,255,255,0.6);
    border-radius: 15px;
}

@media (max-width: 1280px) {
    .sobre{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    .eris,
    .marlyn{
        width: 70%;
        margin: 0 0 20px 0;
        border-bottom: 1px solid black;
    }

    .img_eris img,
    .img_marlyn img{
        width: 250px;
        border: 1px solid rgb(0, 0, 0);
        border-radius: 15px;
        height: 300px;
    }

        
}